* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

body {
 background: linear-gradient(135deg, #2e39b8, #969deb);
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 20px;
}

.container {
 background-color: white;
 border-radius: 1rem;
 padding: 2rem;
 width: 100%;
 max-width: 800px;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
 text-align: center;
 margin-bottom: 1rem;
 color: #333;
 position: relative;
 padding: 0.5rem;
}

h1::after {
 content: "";
 position: absolute;
 bottom: 5px;
 left: 50%;
 transform: translateX(-50%);
 width: 40%;
 height: 2px;
 background-color: #060c4f;
 border-radius: 2px;
}
.generate button {
 background: linear-gradient(45deg, #117abf, #044069);
 border: none;
 border-radius: 20px;
 color: white;
 padding: 0.8rem 1.5rem;
 font-weight: 500;
 margin-bottom: 2rem;
 cursor: pointer;
 font-size: 1rem;
}

.generate button:hover {
 transform: translateY(-5px);
 box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}

.generate button:active {
 transform: translateY(0);
}

.number-container{
 display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.number-info {
 background-color: #fff;
 padding: 0.7rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 0.9rem;
 transition: transform 0.3s ease;
}
.copy-btn {
 cursor: pointer;
 color: #677f8f;
 transition: color 0.2s;
}

.copy-btn:hover {
 color: #117abf;
}
@media (max-width:768px) {
 .number-container {
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
.number-info:hover{
 transform: translateX(5px);
}
.number-info:active{
  transform: translateX(0);
}
    h1::after {
     width: 70%;
    }
    h1{
     font-size: 28px;
    }
}
